/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    /* @apply bg-[#06202A] text-gray-300; */
    @apply bg-gradient-to-r from-red-800 to-[#06202A] text-gray-300;
  }

  html {
    scroll-behavior: smooth;
  }

  /* width */
  ::-webkit-scrollbar {
    height: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(241, 241, 241, 0.2);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ac171c;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: red;
  }

  input[type="text"] {
    box-sizing: border-box;
    padding-left: 0.5rem;
  }

  input::placeholder {
    padding: 0.5rem;
  }
}
