/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#06202A] text-gray-300;
  }

  .collapsible .toggle {
    background: blue;
    border: unset;
    cursor: pointer;
    padding: 0.3rem;
    border-radius: 5px;
    color: white;
    margin: 10px;
  }

  .collapsible .content {
    border: 1px solid white;
    padding: 0.5rem;
    border-radius: 5px;
    margin: 10px;
  }

  input[type="text"] {
    box-sizing: border-box;
    padding-left: 0.5rem;
  }

  input::placeholder {
    padding: 0.5rem;
  }
}
/* 
.collapsible .content-parent {
  height: 0px;
  overflow: hidden;
  transition: height ease 0.3s;
}

.collapsible .content-parent .show {
  height: auto;
} */
